<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" />
    <title>About | Sweeter</title>
</head>

<body>
    <section class="hero is-primary is-bold is-medium">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Secret Page</h1>
                <h2 class="subtitle">Page that should be avaible for authenticated user</h2>
                <p>{{ user_info.profile_name }}</p>
            </div>
        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>

</html>